html,body{
	height: 100%;
	width:100%;	font-size:14px;}#header{    text-align: center;		background-color: #81a9c3;		color: #fff;    width: 100%;}#header h1{    font-size: 20px;		height: 44px;		line-height: 44px;		margin: 0em;		color: #fff;}#header .left {		position: absolute;		bottom: 0;		left: 0;		width: 100px;		height: 50px;}#header .center {		position: relative;		width: 100%;		height: 50px;		background: url(../image/home_title.png);		background-size: 74px 19px;		background-position: center center;		background-repeat: no-repeat;}#header .right {		position: absolute;		bottom: 0;		right: 0;		width: 40px;		height: 50px;		background-size: 30px 30px;		background-position: center center;		background-repeat: no-repeat;}#main{    -webkit-box-flex: 1;    -webkit-flex: 1;    flex: 1;    padding: 2em;}
#footer{    background-color: #81a9c3;    width: 100%;    text-align: center;}#footer h5{    color: white;}
.con{font-size: 28px; text-align: center;}

.pull-left{
	float: left;
}
.center{
	text-align: center;
}

.middle{
	margin: 0 auto;
}

.hover{ opacity: .8; }

.flex-wrap{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}

.flexcon{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}

.flex-vertical{
	-webkit-box-orient: vertical;
	-webkit-flex-flow: column;
	flex-flow: column;
}

.border-t,
.border-b{
	position:relative;
}

.border-t:before,
.border-b:after{
	content: '';
	position: absolute;
	left: 0;
	top:0;
	background: #ddd;
	right:0;
	height: 1px;
}
.border-b:after{
	top:auto; bottom:0;
}

#wrap{
	height: 100%;
}
#work{
	height: 90px;
	text-align: center;
}
#zone{
	text-align: center;
	height: 50px;
	font-size: 24px;
}
.titlebar{
	display: none;
}
.activebar{display: block;}
#news{
	height:50px;
	mrgin:0 auto;
	text-align:center;
}
.flex1 {-webkit-box-flex:1;-webkit-flex: 1;flex:1;color: #909090;}
#footer{
	background-color: #f2f2f2;
}
#footer ul li{
	padding-top: 28px;
	padding-bottom: 4px;
	background: url() no-repeat center 2px;
	text-align: center;
	font-size: 10px;
}
#footer ul li.active{ color: #6ab494; }
#footer ul li:nth-child(1){ background-image: url(../image/btmimg/10.png); background-size:24px 24px}
#footer ul li:nth-child(2){ background-image: url(../image/btmimg/20.png); background-size:24px 24px}
#footer ul li:nth-child(3){ background-image: url(../image/btmimg/30.png); background-size:24px 24px}
#footer ul li:nth-child(4){ background-image: url(../image/btmimg/40.png); background-size:24px 24px}
#footer ul li:nth-child(1).active{ background-image: url(../image/btmimg/11.png); background-size:24px 24px}
#footer ul li:nth-child(2).active{ background-image: url(../image/btmimg/21.png); background-size:24px 24px}
#footer ul li:nth-child(3).active{ background-image: url(../image/btmimg/31.png); background-size:24px 24px}
#footer ul li:nth-child(4).active{ background-image: url(../image/btmimg/41.png); background-size:24px 24px}

.scrollbar {
	display: -webkit-box;
	/*必不可少*/
	display: -webkit-flex;
	text-align: center;
	height: 40px;
	line-height: 40px;
	background: #EBECF0;
	font-size: 16px;
	position: relative;
}
.indexbar {
	position: absolute;/*background: #0fc;*/
	width: 50%;
	height: 5px;
	left: 0px;
	bottom: 0px;
	-webkit-transition: 300ms;
}
.redbox {
	background: #DB4646;
	width: 60px;
	height: 5px;
	position: relative;
	left: auto;
	right: auto;
	margin-left: auto;
	margin-right: auto;
}
.btn_click {background: #DADDE0;}
