.login-header-btn{
    display: inline-block;
    padding: 30px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
}
.close {
    background-image: url("../image/close_icon_normal@2x.png");
}
.setting {
    background-image: url("../image/home/setting_icon_normal@2x.png");
}
.login-header .nologin-user {
    -webkit-transform: rotateY(0deg);
    background-image: url("../image/home/user_defaulthead@2x.png");
}
.login-header .prize {
    -webkit-transform: rotateY(180deg);
    background-image: url("../image/home/user_defaultgift@2x.png");
}
.flip {
    -webkit-transition-property: -webkit-transform, background-image;
    -webkit-transition-duration: 1.5s, 0.1s;
    -webkit-transition-delay: 0.1s;
}
.title {
    text-align: center;
    padding-top: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.login {
    color: #FFFFFF;
    font-size: 18px;
}

.score {
    padding-top: 7px;
    color: #EFED84;
}
.mine {
    background-color: #1C1515;
    padding-top: 5px;
}
.login-header {
    height: 100%;
    background-color: #1C1515;
}
.mine li, .bottom li {
    display: inline-block;
    width: 32%;
    text-align: center;
    padding: 20px 0 6px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: top;
}

.mine li span {
    margin: 15px 10px 0 10px;
    color: #737377;
}

.read {
    background-image: url("../image/user_reading_circle@2x.png");
}

.star {
    background-image: url("../image/user_favor_circle@2x.png");
}

.comment {
    background-image: url("../image/user_comment_circle@2x.png");
}

.activity {
    margin: 0 10px;
}

.activity li {
    padding: 15px 0;
    background-size: 8px;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url("../image/setting_cell_arrow@2x.png");
    border-bottom: 1px solid #F6F6F6;
}

.activity li:last-child {
    border-bottom: none;
}

.subtitle {
    font-size: 16px;
    margin-left: 10px;
}


.login-user{
    background-image: url("../image/user_weiboimage_netease@2x.png");
}
.hidden {
    display: none !important;
}
.hidden-v{
    visibility: hidden;
}
.title {
    -webkit-box-flex: 1;
}
.header {
    display: -webkit-box;
}
.header .btn{
    background-repeat: no-repeat;
    background-position: center;
}
.header div input {
    width: 90%;
    border-left: 1px solid #D6D6D6;
    height: 20px;
    margin-left: 5px;
    padding-left: 5px;
    line-height: 20px;
    border-radius: 0;
}
.img-menu{
  height: 24px;
  width: 24px;
  vertical-align:middle;
  overflow: scroll;
}
