html {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #E9EDEC
}
.newsbox{
  width:100%;
  margin-top: 10px;
  height: auto;
  background-color: #E9EDEC;
  position: relative;
}
.news_li{
  position: relative;
  width: auto;
  height:240px;
  margin:0 10px 10px 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}
.news_li .news_tu{
  width: auto;
  height: 180px;
  overflow: hidden;
}
.news_li .news_tu img{
  width: auto;
  height: 180px;
}
.news_li h2{
  margin-left: 13px;
  margin-right: 13px;
  line-height: 26px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.news_li h2 a{
  color: #000000;
}
.news_li h2 a:visited{
  color:#666666;
}
.news_li p{
  margin-left: 13px;
  margin-right: 13px;
  line-height:20px;
  font-size:14px;
  margin-top:16px;
}
.news_li .pdtt_rtzw a{
  color: #666666;
}
.news_li .pdtt_rtzw{
  margin-top:12px;
}
.news_ti{
  width:100%;
  height:50px;
  font-size:12px;
  margin-left: 13px;
  z-index:999;
}
.trbszan{
  padding-left:16px;
  margin-left: 16px;
  min-width:20px;
  color:#a0a0a0;
  background: url("../image/f0/discuss.png") no-repeat left center;
  background-size: 14px 13px;
}
.trbstxt{
  padding-left:16px;
  margin-left: 16px;
  min-width:20px;
  color:#a0a0a0;
  background: url("../image/f0/time.png") no-repeat left center;
  background-size: 14px 13px;
}
.type-round{
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  color:#a0a0a0;
  line-height: 12px;
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
}
.fonter{
  text-align:center;
  background-color:#E9EDEC;
  color:#a0a0a0;
}
